[Unit]
Description=Clipboard history cliphist (SL1C3D-L4BS)
After=default.target

[Service]
Type=simple
ExecStart=/usr/bin/wl-paste --watch cliphist store
Restart=on-failure
RestartSec=2

[Install]
WantedBy=default.target
