[Unit]
Description=swww wallpaper daemon (SL1C3D-L4BS)
After=default.target

[Service]
Type=simple
ExecStart=/usr/bin/swww-daemon --format xrgb
Restart=on-failure
RestartSec=2

[Install]
WantedBy=default.target
