[Unit]
Description=Waypaper restore last wallpaper (SL1C3D-L4BS)
After=default.target swww.service
Wants=swww.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/waypaper --restore

[Install]
WantedBy=default.target
